################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Labb3_XUnit/obj
/.vs
/Labb3_XUnit/bin/Debug/net6.0
